
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --dark: #151515;
    --light: #dddddf;
    --btn-color: #746385;
    --link-color: #61c961;
    --s-bg: #1a1a1a;
    font-size: 10px;
}

body
{
    background-color: var(--dark);
    color: var(--light);
    font-size: 1.6rem;
    height: 100vh;
    font-family: 'Poppins', sans-serif;

    display: flex;
    flex-flow: column;

    position: relative;
    min-height: 100vh;

}

a
{
    text-decoration: none;
    color: var(--link-color);
}

img
{
    display: block;
    max-width: 100%;
    max-height: 100%;
}

video
{
    max-height: 100%;
    max-width: 100%;
}

input, button
{
    font-size: 100%;
    font-family: inherit;
    color: inherit;
    background-color: var(--btn-color);
    border: 0;
    border-radius: 3px;
    padding: 5px;
}

.header
{
    padding: 5px 20px;
    background-color: var(--s-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.options
{
    padding: 0 10px;
    margin-top: 10px;

    display: flex;
    justify-content: flex-end
}

.options__button+.options__button
{
    margin-left: 10px;
    padding: 5px 10px;
}

.form
{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    display: none;
}

.form__url
{
    width: 100%;
    margin-right: 10px;
    border: 0;
    background-color: var(--s-bg);
    border-bottom: 2px solid var(--btn-color);
    padding: 5px;
}
.form__url:focus
{
    outline: 0;
    border-color: #937fa8;
}

.form__submit
{
    padding: 5px 10px;
}

.form__submit:hover, .figure__control:hover, .options__button:hover
{
    background-color: #937fa8;
    cursor: pointer;
}

.threads
{
    display: none;
}

.figure
{
    padding: 10px;
    flex: 1;
    display: flex;
    flex-flow: column;
    display: none;
}

.figure__content
{
    margin-bottom: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: calc(100vh / 1.5);
}

.figure__name
{
    overflow: auto;
}

.figure__controls
{
    display: flex;
    justify-content: center;
}

.figure__control
{
    background-repeat: no-repeat;
    background-size: 26px 26px;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    background-position: 7px 7px;
}

.figure__control--prev
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}

.figure__control--play
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M19.376 12.416L8.777 19.482A.5.5 0 0 1 8 19.066V4.934a.5.5 0 0 1 .777-.416l10.599 7.066a.5.5 0 0 1 0 .832z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}

.figure__control--pause
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M6 5h2v14H6V5zm10 0h2v14h-2V5z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}

.figure__control--next
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}

.figure__control--download
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M3 19h18v2H3v-2zm10-5.828L19.071 7.1l1.414 1.414L12 17 3.515 8.515 4.929 7.1 11 13.17V2h2v11.172z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}

.figure__control--save
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M4 3h14l2.707 2.707a1 1 0 0 1 .293.707V20a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm3 1v5h9V4H7zm-1 8v7h12v-7H6zm7-7h2v3h-2V5z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}


.footer 
{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}
.copyright, .note4
{
    padding: 5px;
    font-size: small;
}

@media screen and (min-width: 1080px)
{
    .form, .figure
    {
        width: 1080px;
        margin: 0 auto;
    }    
}