@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --dark: #222226;
    --light: #dddddf;
    font-size: 10px;
}

body
{
    background-color: var(--dark);
    color: var(--light);
    font-size: 1.6rem;
    height: 100vh;
    font-family: 'Poppins', sans-serif;

    display: flex;
    flex-flow: column;
}

a
{
    text-decoration: none;
    color: rgb(97, 201, 97);
}

img
{
    display: block;
    max-width: 100%;
    max-height: 100%;
}

video
{
    max-height: 100%;
    max-width: 100%;
}

input, button
{
    font-size: 100%;
    font-family: inherit;
    color: inherit;
    background-color: #333333;
    border: 0;
    border-radius: 3px;
}

.header
{
    padding: 5px;
    background-color: #33333a;
    margin: 0 0 10px 0;
}

.form
{
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
}

.form__url
{
    width: 100%;
    margin-right: 5px;
    border: 0;
    background-color: #333333;
    border-bottom: 2px solid #555555;
    padding: 5px;
}
.form__url:focus
{
    outline: 0;
    border-color: #888;
}

.form__submit
{
    padding: 5px;
}
.form__submit:hover, .figure__nav *:hover
{
    background-color: #444;
    cursor: pointer;
}

.figure
{
    padding: 5px;
    flex: 1;
    display: flex;
    flex-flow: column;
}
.figure__nav
{
    display: flex;
    justify-content: center;
}

.figure__nav *
{
    background-repeat: no-repeat;
    background-size: 26px 26px;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    background-position: 7px 7px;
}

.figure__prev
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z' fill='rgba(164,164,164,1)'/%3E%3C/svg%3E");
}

.figure__play
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M19.376 12.416L8.777 19.482A.5.5 0 0 1 8 19.066V4.934a.5.5 0 0 1 .777-.416l10.599 7.066a.5.5 0 0 1 0 .832z' fill='rgba(164,164,164,1)'/%3E%3C/svg%3E");
}

.figure__pause
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M6 5h2v14H6V5zm10 0h2v14h-2V5z' fill='rgba(164,164,164,1)'/%3E%3C/svg%3E");
}

.figure__next
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z' fill='rgba(164,164,164,1)'/%3E%3C/svg%3E");
}

.figure__download
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M3 19h18v2H3v-2zm10-5.828L19.071 7.1l1.414 1.414L12 17 3.515 8.515 4.929 7.1 11 13.17V2h2v11.172z' fill='rgba(164,164,164,1)'/%3E%3C/svg%3E");
}

.figure__save
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M4 3h14l2.707 2.707a1 1 0 0 1 .293.707V20a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm3 1v5h9V4H7zm-1 8v7h12v-7H6zm7-7h2v3h-2V5z' fill='rgba(164,164,164,1)'/%3E%3C/svg%3E");
}

.figure__data
{
    margin-bottom: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: calc(100vh / 1.5);
}

.figure__img, .figure__vid
{
    display: none;
}
.copyright
{
    padding: 5px;
    font-size: small;
}